<%= render 'shared/errors', obj: @user %>
<div class="container">
	<div class="row center add-user-form">
		<div class="col s12 m12 l12">
			<div class="card-panel ">
				<h3 class="header"><%= @user.new_record? ? "Add user" : "Edit your profile" %></h3>
				<div class="row">        
					<%= form_for(@user, html: {class: "col s12" }) do |f| %>
						<div class="row">
							<div class="input-field col s12">
								<%= f.text_field :first_name, placeholder: "First Name", autofocus: true %>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<%= f.text_field :last_name, placeholder: "Last Name", autofocus: true %>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12">
								<%= f.text_field :username, placeholder: "Last Name", autofocus: true %>
							</div>
						</div>
						
						<div class="row">
							<div class="input-field col s12">	
								<%= f.email_field :email, placeholder: "Email Address" %>
							</div>
						</div>						
						<div class="row">
							<div class="input-field col s12">	
								<%= f.password_field :password, placeholder: "Choose a Password" %>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">	
								<%= f.password_field :pasword_confirmation, placeholder: "Confirm your Password" %>			
							</div>
						</div>
						<% if current_user.admin? %>
						<div class="row">
							<div class="input-field col s6">
								<label>	
									<%= f.check_box :admin %>
									<span>Admin?</span>
								</label>										
							</div>
							<div class="input-field col s6">
								<label>	
									<%= f.check_box :not_paid %>
									<span>Not paid?</span>
								</label>										
							</div>
						</div>
						<% end %>
						<div class="row">
							<div class="input-field col s12">
						<%= f.button(@user.new_record? ? '<i class="material-icons right">arrow_forward</i>Create User'.html_safe : '<i class="material-icons right">arrow_forward</i>Update profile'.html_safe, class: 'waves-effect waves-light btn-small') %>

							</div>
						</div>
					<% end %>
				</div>
				
			</div>
		</div>
	</div>
</div>