<div class="row">
	<% if current_user.admin? %>
	<div class="navbar-wrapper">
	    <form>
		    <%= form_tag companies_path, method: :get do %>
				<div class="input-field col s10">
				    <%= text_field_tag :search, params[:search], type: 'search', placeholder: "            Search by company name"  %>
				        <label class="label-icon" for="search"></label>
				        <i class="material-icons">search</i>

				</div>
				<div class="input-field col s2">
				<%= submit_tag 'Search', class: 'waves-effect waves-light btn-small' %>
				</div>
			<% end %>
		</form>
	</div>
	<% end %>
	<div class="col s12">
		<h3 class="center-align">All Companies</h3>
		<% if current_user.admin? %>
		<div><%= link_to "New Company", new_company_path, class: 'waves-effect waves-light btn-small right' %></div>
		</div>
		<% end %>
	</div>


<table class="highlight">
	<thead>
	  <tr>
	      <th>Name</th>
	      <th>Username</th>
	      <th>Mail</th>
	      <% if current_user.admin? %>
	      <th colspan="2">Actions</th>
	       <% end %>
	  </tr>
	</thead>

	<tbody>
		<% @companies.each do |company|%>
	  <tr>
	    <td><%= link_to company.name, company_path(company) %></td>
	    <td><%= link_to company.user.name, user_path(company.user) %></td>
	    <td><%= link_to company.posts.name, posts_path %></td>
	    <% if current_user.admin? %>
	    <td><%= link_to '<i class="material-icons right ">create</i>Edit Company'.html_safe, edit_company_path(company), class: 'waves-effect waves-light btn-small'  %></td>
	    <td><%= link_to '<i class="material-icons right">delete_forever</i>Delete'.html_safe, company_path(company), method: :delete,
  					    data:{confirm: "Are you sure"}, class: 'waves-effect waves-light btn-small'  %></td>
  					    <% end %>
	  </tr>
	  <% end %>
	</tbody>
</table>
<% if current_user.admin? %>
<div class="center-align"><%= will_paginate @companies %>  </div>
<% end %>
