
		
	  <tr>
	    <td><%= post.company.name %></td>
	    <td><%= post.sender %></td>
	    <td><%= post.name %></td>
	    <td><%= post.received %></td>
	    <td><%= link_to "View or Download", post.attachment_url %></td>
	    <% if current_user.admin? %>
	    	    
	    <td><%= link_to '<i class="material-icons right">create</i>Edit'.html_safe, edit_post_path(post), 
	        class: 'waves-effect waves-light btn-small'  %></td>
	        <td><%= link_to '<i class="material-icons right">delete_forever</i>Delete'.html_safe, post_path(post), method: :delete, data:{confirm: "Are you sure"}, 
	        class: 'waves-effect waves-light btn-small'  %></td>
  		<% end %>	    
	  </tr>
	  
	

  